version: '3'

services:
  frontend:
    image: nginx:alpine
    container_name: frontend
    ports:
      - "8080:80"
    volumes:
      - ."/Website Files:/usr/share/nginx/html"
    networks:
      - mynet

  fake-api:
    image: nginxdemos/hello
    container_name: fake-api
    ports:
      - "5000:80"
    networks:
      - mynet

networks:
  mynet:
    driver: bridge

