
.font-winky {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.product-section {
  display: none;
}

.product-section.active {
  display: block;
}

.btn {
  background-color: #ec4899;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  margin-top: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

